doctype html
html
  include includes/head.pug
  body
  include includes/header.pug
  main
    h1= title
    ul
    each bus in busList
      li #{bus.region} | #{bus.id} | #{bus.name} | #{bus.typeName} | #{bus.typeCode}
  include includes/footer.pug