doctype html
html
  include includes/head.pug
  body
  include includes/header.pug
  main
    ul.result-list
      each data in dataList
        li #{data.stationName}
          span #{data.stationCode}
          p #{data.plateNo1}
            span #{data.predictTime1}분 후 도착 (#{data.locationNo1}번 째 정류장 전)
  script(src="/javascripts/getCurrentPosition.js")
  include includes/footer.pug