doctype html
html
  include includes/head.pug
  body
  include includes/header.pug
  main
    h1 지원하는 버스 목록
    ul
    each bus in busList
      li #{bus.region} | #{bus.id} | #{bus.name} | #{bus.typeName} | #{bus.typeCode}
  script(src="/javascripts/getCurrentPosition.js")
  script(src="/javascripts/support-bus.js")